<html lang="en">
<header>
    <!-- SEO -->
    <title>{% block title %}{% endblock %}</title>
    <!-- Métas -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    {% block metas %}{% endblock %}
    <!-- Links -->
    <link rel="icon" href="#">
    <link href="{{ asset('assets/css/mir_public/base.css') }}" rel="stylesheet">
    {% block links %}{% endblock %}
    <!-- Scripts -->
    <script src="{{ asset('assets/js/jQuery.js') }}"></script>
    {% block scripts %}{% endblock %}
</header>
<body>
    {% block body %}{% endblock %}
</body>
</html>