{% extends "mir_user/base.html.twig" %}
{% block body %}
    <section class="pt-5">
        <div class="d-flex pt-5 justify-content-around">
            <div class="col-3 pt-5">
                <div class="list-group pre-scrollable vh-100 mh-100" id="list-tab" role="tablist">
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button aria-controls="collapseOne" aria-expanded="true" class="btn btn-link" data-target="#collapseOne" data-toggle="collapse">
                                        Personnal project
                                    </button>
                                </h5>
                            </div>
                            <div aria-labelledby="headingOne" class="collapse show" data-parent="#accordion" id="collapseOne">
                                <div class="card-body">
                                    <div class="list-group-item list-group-item-action active" data-toggle="list">
                                        <p class="col-12">Projet 1</p>
                                        <p class="col-12">Auteur</p>
                                        <p class="col-12">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae ipsa ratione cupiditate quae laboriosam nihil eum, error commodi mollitia repellendus!</p>
                                    </div>
                                    <div class="list-group-item list-group-item-action" data-toggle="list">
                                        <p class="col-12">Projet 2</p>
                                        <p class="col-12">Auteur</p>
                                        <p class="col-12">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae ipsa ratione cupiditate quae laboriosam nihil eum, error commodi mollitia repellendus!</p>
                                    </div>
                                    <div class="list-group-item list-group-item-action" data-toggle="list">
                                        <p class="col-12">Projet 3</p>
                                        <p class="col-12">Auteur</p>
                                        <p class="col-12">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae ipsa ratione cupiditate quae laboriosam nihil eum, error commodi mollitia repellendus!</p>
                                    </div>
                                    <div class="list-group-item list-group-item-action" data-toggle="list">
                                        <p class="col-12">Projet 4</p>
                                        <p class="col-12">Auteur</p>
                                        <p class="col-12">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae ipsa ratione cupiditate quae laboriosam nihil eum, error commodi mollitia repellendus!</p>
                                    </div>
                                    <div class="list-group-item list-group-item-action" data-toggle="list">
                                        <p class="col-12">Projet 5</p>
                                        <p class="col-12">Auteur</p>
                                        <p class="col-12">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae ipsa ratione cupiditate quae laboriosam nihil eum, error commodi mollitia repellendus!</p>
                                    </div>
                                    <div class="list-group-item list-group-item-action" data-toggle="list">
                                        <p class="col-12">Projet 6</p>
                                        <p class="col-12">Auteur</p>
                                        <p class="col-12">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae ipsa ratione cupiditate quae laboriosam nihil eum, error commodi mollitia repellendus!</p>
                                    </div>
                                    <div class="list-group-item list-group-item-action" data-toggle="list">
                                        <p class="col-12">Projet 7</p>
                                        <p class="col-12">Auteur</p>
                                        <p class="col-12">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae ipsa ratione cupiditate quae laboriosam nihil eum, error commodi mollitia repellendus!</p>
                                    </div>
                                    <div class="list-group-item list-group-item-action" data-toggle="list">
                                        <p class="col-12">Projet 8</p>
                                        <p class="col-12">Auteur</p>
                                        <p class="col-12">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae ipsa ratione cupiditate quae laboriosam nihil eum, error commodi mollitia repellendus!</p>
                                    </div>
                                    <div class="list-group-item list-group-item-action" data-toggle="list">
                                        <p class="col-12">Projet 9</p>
                                        <p class="col-12">Auteur</p>
                                        <p class="col-12">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae ipsa ratione cupiditate quae laboriosam nihil eum, error commodi mollitia repellendus!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button aria-controls="collapseTwo" aria-expanded="false" class="btn btn-link collapsed" data-target="#collapseTwo" data-toggle="collapse">
                                        invited project
                                    </button>
                                </h5>
                            </div>
                            <div aria-labelledby="headingTwo" class="collapse" data-parent="#accordion" id="collapseTwo">
                                <div class="card-body">
                                    <div class="list-group-item list-group-item-action active" data-toggle="list">
                                        <p class="col-12">Projet 1</p>
                                        <p class="col-12">Auteur</p>
                                        <p class="col-12">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae ipsa ratione cupiditate quae laboriosam nihil eum, error commodi mollitia repellendus!</p>
                                    </div>
                                    <div class="list-group-item list-group-item-action" data-toggle="list">
                                        <p class="col-12">Projet 2</p>
                                        <p class="col-12">Auteur</p>
                                        <p class="col-12">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae ipsa ratione cupiditate quae laboriosam nihil eum, error commodi mollitia repellendus!</p>
                                    </div>
                                    <div class="list-group-item list-group-item-action" data-toggle="list">
                                        <p class="col-12">Projet 3</p>
                                        <p class="col-12">Auteur</p>
                                        <p class="col-12">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae ipsa ratione cupiditate quae laboriosam nihil eum, error commodi mollitia repellendus!</p>
                                    </div>
                                    <div class="list-group-item list-group-item-action" data-toggle="list">
                                        <p class="col-12">Projet 4</p>
                                        <p class="col-12">Auteur</p>
                                        <p class="col-12">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae ipsa ratione cupiditate quae laboriosam nihil eum, error commodi mollitia repellendus!</p>
                                    </div>
                                    <div class="list-group-item list-group-item-action" data-toggle="list">
                                        <p class="col-12">Projet 5</p>
                                        <p class="col-12">Auteur</p>
                                        <p class="col-12">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae ipsa ratione cupiditate quae laboriosam nihil eum, error commodi mollitia repellendus!</p>
                                    </div>
                                    <div class="list-group-item list-group-item-action" data-toggle="list">
                                        <p class="col-12">Projet 6</p>
                                        <p class="col-12">Auteur</p>
                                        <p class="col-12">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae ipsa ratione cupiditate quae laboriosam nihil eum, error commodi mollitia repellendus!</p>
                                    </div>
                                    <div class="list-group-item list-group-item-action" data-toggle="list">
                                        <p class="col-12">Projet 7</p>
                                        <p class="col-12">Auteur</p>
                                        <p class="col-12">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae ipsa ratione cupiditate quae laboriosam nihil eum, error commodi mollitia repellendus!</p>
                                    </div>
                                    <div class="list-group-item list-group-item-action" data-toggle="list">
                                        <p class="col-12">Projet 8</p>
                                        <p class="col-12">Auteur</p>
                                        <p class="col-12">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae ipsa ratione cupiditate quae laboriosam nihil eum, error commodi mollitia repellendus!</p>
                                    </div>
                                    <div class="list-group-item list-group-item-action" data-toggle="list">
                                        <p class="col-12">Projet 9</p>
                                        <p class="col-12">Auteur</p>
                                        <p class="col-12">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae ipsa ratione cupiditate quae laboriosam nihil eum, error commodi mollitia repellendus!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="container-fluid pt-5 pb-5 col-9 vh-100">
                <div class="row h-50 pb-5 d-flex justify-content-around">
                    <dic class="col-5 border pr-0 pl-0">
                        <blockquote class="blockquote pl-4" style="background-color: #F26D6D;color: #fff;">
                            <p class="mb-0">Projet 1</p>
                            <footer class="blockquote-footer" style="color: #E0E0E0">By
                                <cite title="Source Title">Autor</cite>
                            </footer>
                        </blockquote>
                        <dt class="pl-4">information</dt>
                        <dd class="pl-4 pr-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa tempora iure officia quod voluptas blanditiis. Soluta, obcaecati, sapiente officia dolorem nobis odit esse velit, ducimus incidunt voluptatum quam fuga maxime!Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa tempora iure officia quod voluptas blanditiis. Soluta, obcaecati, sapiente officia dolorem nobis odit esse velit, ducimus incidunt voluptatum quam fuga maxime!</dd>
                    </dic>
                    <dic class="col-5 border pr-0 pl-0">
                        <blockquote class="blockquote pl-4" style="background-color: #F26D6D;color: #fff;">
                            <p class="mb-0">Statistique</p>
                            <footer class="blockquote-footer" style="color: #E0E0E0">On
                                <cite title="Source Title">Projet 1</cite>
                            </footer>
                        </blockquote>
                        <div class="row h-75 mt-4 align-items-center">
                            <div class="col-4 p-0 pl-3">
                                <table class="table table-dark">
                                    <tr class="table-active">
                                        <td class="text-center font-weight-bold">salut</td>
                                    </tr>
                                    <tr class="bg-danger">
                                        <td class="text-center">Hey</tdclass>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-4 p-0">
                                <table class="table table-dark">
                                    <tr class="table-active">
                                        <td class="text-center font-weight-bold">salut</td>
                                    </tr>
                                    <tr class="bg-danger">
                                        <td class="text-center">Hey</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-4 p-0 pr-3">
                                <table class="table table-dark">
                                    <tr class="table-active">
                                        <td class="text-center font-weight-bold">salut</td>
                                    </tr>
                                    <tr class="bg-danger">
                                        <td class="text-center">Hey</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </dic>
                </div>
                <div class="row h-50 pb-5 d-flex justify-content-around">
                    <dic class="col-5 border pr-0 pl-0">
                        <blockquote class="blockquote pl-4" style="background-color: #F26D6D;color: #fff;">
                            <p class="mb-0">Material</p>
                            <footer class="blockquote-footer" style="color: #E0E0E0">On
                                <cite title="Source Title">Projet 1</cite>
                            </footer>
                        </blockquote>
                        <ul class="list-group pre-scrollable vh-100">
                            <li class="list-group-item border-bottom">Cras justo odio</li>
                            <li class="list-group-item border-bottom">Dapibus ac facilisis in</li>
                            <li class="list-group-item border-bottom">Morbi leo risus</li>
                            <li class="list-group-item border-bottom">Porta ac consectetur ac</li>
                            <li class="list-group-item border-bottom">Vestibulum at eros</li>
                            <li class="list-group-item border-bottom">Cras justo odio</li>
                            <li class="list-group-item border-bottom">Dapibus ac facilisis in</li>
                            <li class="list-group-item border-bottom">Morbi leo risus</li>
                            <li class="list-group-item border-bottom">Porta ac consectetur ac</li>
                            <li class="list-group-item border-bottom">Vestibulum at eros</li>
                            <li class="list-group-item border-bottom">Cras justo odio</li>
                            <li class="list-group-item border-bottom">Dapibus ac facilisis in</li>
                            <li class="list-group-item border-bottom">Morbi leo risus</li>
                            <li class="list-group-item border-bottom">Porta ac consectetur ac</li>
                            <li class="list-group-item border-bottom">Vestibulum at eros</li>
                            <li class="list-group-item border-bottom">Cras justo odio</li>
                            <li class="list-group-item border-bottom">Dapibus ac facilisis in</li>
                            <li class="list-group-item border-bottom">Morbi leo risus</li>
                            <li class="list-group-item border-bottom">Porta ac consectetur ac</li>
                            <li class="list-group-item border-bottom">Vestibulum at eros</li>
                            <li class="list-group-item border-bottom">Cras justo odio</li>
                            <li class="list-group-item border-bottom">Dapibus ac facilisis in</li>
                            <li class="list-group-item border-bottom">Morbi leo risus</li>
                            <li class="list-group-item border-bottom">Porta ac consectetur ac</li>
                            <li class="list-group-item border-bottom">Vestibulum at eros</li>

                        </ul>
                    </dic>
                    <dic class="col-5 border pr-0 pl-0">
                        <blockquote class="blockquote pl-4" style="background-color: #F26D6D;color: #fff;">
                            <p class="mb-0">Information pratique</p>
                            <footer class="blockquote-footer" style="color: #E0E0E0">For
                                <cite title="Source Title">Make It Real</cite>
                            </footer>
                        </blockquote>
                        <div class="row h-50">
                            <div class="col font-weight-bold d-flex justify-content-center align-items-center">Forum</div>
                            <div class="col font-weight-bold d-flex justify-content-center align-items-center">FAQ</div>
                        </div>
                        <div class="row h-50">
                            <div class="col font-weight-bold d-flex justify-content-center align-items-center">Tuto</div>
                            <div class="col font-weight-bold d-flex justify-content-center align-items-center">Last Update</div>
                        </div>
                    </dic>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
