{% extends "mir_user/base.html.twig" %}
{% block body %}
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim facilis ipsa sed error fugit id libero deleniti perspiciatis harum ullam architecto, recusandae dolorum quia veniam voluptatum accusamus deserunt veritatis. Id.</p>
{% endblock %}
